
.logo {
  display: flex;
  position: fixed;
  height: 6.5vh;
  margin: auto 5%;
  z-index: 999;
}
.menu {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.menu li {
  list-style-type: none;
  margin-right: 20px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.menu ul li a {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  font-size: 1.125rem;
  color: #cacaca;
  padding: 0px 20px 0px 10px;
  text-decoration: none;
}

.menu ul li a:hover {
  color: #c11919c1;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 2px solid #c11919c1;
  padding-bottom: .5rem;
  line-height: 1;
}

.menu ul li a {
  transition: all .45s ease-in-out;
}







